{% extends 'base.html' %}
{% load bootstrap4 %}
{% block styles %}
    {% bootstrap_css %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {%for image in images%}
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 mt-2">
            <div class="card m-3" style="width: auto; margin-left: 10px;">
                <div>
                    <img class="m-2 rounded-circle" src="{{image.user.profile.picture.url}}" alt="" style="height: 40px; width: 40px;">
                </div>
                <a href=""><img src="{{image.image.url}}" class="card-img-top img-responsive index_image" id="image" alt="IMAGE" title="" style="height:70vh; width: 100%;" ></a>
                <div class="card-body">
                    <p class="card-text" style="font-size: 0.9em;"><a href="" class="mr-1" style="font-weight: bolder ; text-decoration: none;">{{image.user.username}}</a>{{image.image_caption}}</p>
                </div>  
            </div>               
        </div>
        <div class="col-lg-2 col-md-2"></div>
        {%endfor%}
    </div>
</div>
{% endblock %}