{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {%for image in images%}
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 mt-2">
            <div class="card m-3" style="width: auto; margin-left: 10px;">
                <div>
                    <img class="m-2 rounded-circle" src="{{image.user.profile.picture.url}}" alt="" style="height: 40px; width: 40px;"><a href="{% url 'instagram:post_user' image.user.id %}" style="text-decoration: none;">{{image.user.username}}</a> <span></span><span class="small">{{image.posted |  date:"M d,Y,f A"}}</span>
                </div>
                <a href="{% url 'instagram:comment' image.pk %}"><img src="{{image.image.url}}" class="card-img-top img-responsive index_image" id="image" alt="IMAGE" title="" style="height:70vh; width: 100%;" ></a>
                <div class="card-body">
                    <p style="font-size: 1.8em;"> <a href="{% url 'instagram:comment' image.pk %}" style="text-decoration: none; color: black;"><i class="far fa-comment"></i> </a style="text-decoration: none; color: black;"> <i class="far fa-heart"></i>
                    </p>
                    <p class="" style="font-weight:bolder ;">{{image.likes.count}} <span class="ml-1">likes</span></p>
                    <p class="card-text" style="font-size: 0.9em;"><a href="{% url 'instagram:post_user' image.user.id %}" class="mr-1" style="font-weight: bolder ; text-decoration: none;">{{image.user.username}}</a>{{image.image_caption}}</p>
                </div>
                
            </div>               
        </div>
        <div class="col-lg-2 col-md-2"></div>
        {%endfor%}
    </div>
</div>
{% endblock %}