{% extends 'base.html'%}
{% load bootstrap4 %} 
{% load static %}
{% block title%}
{{user.username}}
{% endblock%}
{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-8 col-lg-8 col-sm-10">
            <div class="card  mt-3">
                <!-- new conatiner -->
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12 ml-2 mt-2 ">
                            <img src="{{user.profile.picture.url}}" class="img-circle rounded-circle image-fluid" alt="..." style="width: 220px; height: 220px;">
                        </div>
                    
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <h2 class="card-title">{{user.username}}</h2>
                            <p class="card-text">Email Adress: {{user.email}}</p>
                            {% if profile.bio%}
                            <p class="card-text">About Me: {{user.profile.bio}}</p>
                            {%endif%} 
        
                            <p>Followers <span class="badge badge-dark">{{user.profile.followers.count}}</span></p>
                            <p>Following <span class="badge badge-secondary">{{user.profile.following.count}}</span></p>
                
                            <a href="{% url 'instagram:update_profile' %}" class="btn btn-success btn-sm"><small>Update Settings</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-12 col-md-12" >
            <div class="row">
                {%for image in user.images_set.all%}
                <div class="col-lg-4 col-md-4 mb-2" style="padding-right: 10px;">
                    <div class="card" style="margin-left: 0px;">
                        <a href="{% url 'instagram:comment' image.pk %}"><img src="{{image.image.url}}" class="card-img-top img-responsive index_image" id="image" alt="IMAGE" title="" style="height:50vh; width: 100%;" ></a>
                        <div class="card-body">
                            <div class="form-inline">
                                <p style="font-size: 1.8em;"> <button class="border mt-3"><a href="{% url 'instagram:comment' image.pk %}" style="text-decoration: none; color: black;"><i class="far fa-comment"></i></a> </button>
                                    <form action="{% url 'instagram:likes' %}" method="POST" class="ml-3 mt-0">
                                        {% csrf_token%}
                                        {% if is_liked%}
                                        <button type="submit" name="image_id" value="{{image.id}}" class="border bg-danger" style="font-size: 1.8em;"><a style="text-decoration: none;"> <i class="far fa-heart"></i></a></button>
                                        {% else%}
                                        <button type="submit" name="image_id" value="{{image.id}}" class="border" style="font-size: 1.8em;"><a style="text-decoration: none; color: black;" > <i class="far fa-heart"></i></a></button>
                                        {% endif %}
                                    </form> 
                                </p>
                            </div>
                            <p class="" style="font-weight:bolder ;">{{image.likes.count}} <span class="ml-1">likes</span></p>
                            <p class="card-text" style="font-size: 0.9em;"><a href="{% url 'instagram:profile'%}" class="mr-1" style="font-weight: bolder ; text-decoration: none;">{{image.user.username}}</a>{{image.image_caption}}</p>

                        </div>  
                    </div>               
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock%}
